body {
  margin: 0;
  overflow: hidden;
}

.wrapper {
  max-width: 100%;
  height: 100vh;
  background-image: url(images/wallpaper5.jpg);
  background-size: cover;
}
.wrapper #topNav {
  width: 100%;
  max-height: 22px;
  background-color: rgba(245, 245, 245, 0.8);
  position: fixed;
  top: 0;
  box-shadow: 0px 0px 22px 0px #888888;
  z-index: 999;
}
.wrapper #topNav ul.left li {
  position: relative;
}

ul {
  list-style-type: none;
  padding: 0;
}

.glyphicon-apple {
  padding: 0 0 0 20px;
}

.glyphicon {
  top: 0;
  font-size: 18px;
}

ul.left {
  display: block;
  float: left;
}
ul.left li {
  display: inline-block;
  margin: 0;
  padding: 0 10px;
  font-size: 16px;
}

li.miniLogo {
  font-weight: bolder;
  font-size: 14px;
  letter-spacing: -2px;
}

li.bold {
  font-weight: bolder;
  font-size: 14px;
}

ul.right {
  display: block;
  float: right;
}
ul.right li {
  display: inline-block;
  margin: 0;
  padding: 1px 10px;
  font-size: 16px;
  font-weight: 500;
}

#iconOverview {
  position: absolute;
  right: 20px;
  top: 160px;
}

#iconAbout {
  position: absolute;
  right: 20px;
  top: 260px;
}

#iconPortfolio {
  position: absolute;
  right: 20px;
  top: 360px;
}

#iconWelcome {
  position: absolute;
  right: 20px;
  top: 60px;
}

.desktop_icon {
  cursor: pointer;
}
.desktop_icon .icon {
  padding: 0 20px;
  margin: 40px;
}
.desktop_icon .icon:hover {
  background-color: rgba(245, 245, 245, 0.8);
  border-radius: 5px;
}
.desktop_icon img {
  height: auto;
  width: 72px;
}
.desktop_icon p {
  width: 72px;
  text-align: center;
  font-weight: 700;
  color: whitesmoke;
  text-shadow: 0px 2px 8px #111111;
}

.window {
  position: absolute;
}
.window .windowBar {
  height: 40px;
  background: #d8dde2;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.window .windowBar ul.button {
  display: inline-block;
}
.window .windowBar ul.tab {
  display: inline-block;
  cursor: default;
}
.window .windowBar ul.tab li {
  padding: 3px 12px;
  font-weight: 900;
  color: rgba(1, 1, 1, 0.6);
  letter-spacing: 0px;
}
.window .glyphicon {
  cursor: auto;
}
.window .glyphicon-remove-sign {
  color: #cacaca;
  margin: 10px 2px 0 10px;
}
.window .glyphicon-remove-sign:hover {
  color: #ff6d61;
}
.window .glyphicon-minus-sign {
  color: #cacaca;
  margin: 10px 2px 0 10px;
}
.window .glyphicon-minus-sign:hover {
  color: #ffc661;
}
.window .windowIcon {
  width: 32%;
  float: left;
}
.window .windowIcon img {
  position: absolute;
  top: 60%;
  transform: translate(0%, -60%);
  height: 300px;
}
.window .about {
  text-align: left;
  width: 66%;
  float: right;
}
.window .about p {
  font-weight: 700;
}
.window .about p span {
  font-weight: 300;
  padding-left: 10px;
}

#dock {
  position: fixed;
  display: inline-block;
  bottom: -10px;
  left: 50%;
  transform: translate(-50%);
  height: 100px;
  max-width: 50%;
  background-color: rgba(151, 151, 151, 0.7);
  border-radius: 5px;
  z-index: 9999;
}
#dock span.border {
  border-left: 2px solid gray;
  position: relative;
  top: 10px;
  bottom: 20px;
}
#dock .minFolderOverview {
  display: none;
}
#dock .minFolderAbout {
  display: none;
}
#dock .minFolderWelcome {
  display: none;
}
#dock .minFolderPortfolio {
  display: none;
}

#sort {
  display: inline-block;
}
#sort img {
  height: 60px;
  width: 60px;
  margin: 15px 20px;
  float: left;
  cursor: pointer;
}
#sort img:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

#noSort {
  float: right;
  display: inline-block;
}
#noSort img {
  height: 50px;
  width: 50px;
  margin: 5px 10px;
  cursor: pointer;
}
#noSort img:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

.windowAbout {
  display: none;
  position: absolute;
  left: 4%;
  top: 16%;
  height: 350px;
  width: 550px;
  background-color: whitesmoke;
  border-radius: 5px;
  z-index: 1;
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.2);
}

.windowSettings {
  display: none;
  left: 6%;
  top: 26%;
  position: absolute;
  height: 350px;
  width: 550px;
  background-color: whitesmoke;
  border-radius: 5px;
  z-index: 1;
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.2);
}
.windowSettings .setting {
  margin: 0;
  display: block;
}
.windowSettings .setting .wallpaper {
  margin: 2%;
  width: 150px;
}
.windowSettings .setting .wallpaper h4 {
  border-bottom: 1px solid #cacaca;
  color: rgba(1, 1, 1, 0.6);
  text-align: center;
  font-weight: 700;
}
.windowSettings .setting .wallpaper button {
  width: 150px;
  margin: 5px 0;
  padding: 5px 10px;
  border: 0;
  border-radius: 0px;
  color: rgba(1, 1, 1, 0.7);
  background: linear-gradient(180deg, #d8dde2, #b1b1b1);
  cursor: pointer;
}
.windowSettings .setting .wallpaper button:hover {
  background: linear-gradient(180deg, #7db1e5, #97c1ea);
}
.windowSettings .setting .wallpaper button:active {
  background: -webkit-linear-gradient(0deg, #cacaca, #b1b1b1);
  background: -o-linear-gradient(0deg, #cacaca, #b1b1b1);
  background: linear-gradient(0deg, #cacaca, #b1b1b1);
}
.windowSettings .setting .wallpaper button:focus {
  outline: 0;
}

.windowOverview {
  display: none;
  position: absolute;
  left: 3%;
  top: 11%;
  height: 350px;
  width: 550px;
  background-color: whitesmoke;
  border-radius: 5px;
  z-index: 1;
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.2);
}

.windowEmail {
  display: none;
  position: absolute;
  left: 7%;
  top: 31%;
  height: 350px;
  width: 550px;
  background-color: whitesmoke;
  border-radius: 5px;
  z-index: 1;
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.2);
}
.windowEmail input {
  width: 100%;
  padding: 5px 0;
  background: whitesmoke;
  border: 0;
}
.windowEmail input:focus {
  outline: none;
}
.windowEmail input::-webkit-input-placeholder {
  font-weight: 700;
}
.windowEmail textarea {
  min-height: 200px;
  width: 100%;
  max-width: 100%;
  max-height: 200px;
  margin: 5px 0 0 0;
  border: 0;
  background: whitesmoke;
  resize: none;
  border-top: 1px solid #cacaca;
}
.windowEmail textarea:focus {
  outline: none;
}
.windowEmail input[type=submit] {
  border: 1px solid #cacaca;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 700;
}
.windowEmail input[type=submit]:hover {
  background: linear-gradient(0deg, #39b54a, #b1e5ca);
  color: rgba(1, 1, 1, 0.6);
}
.windowEmail input[name=name] {
  padding-left: 10px;
  border-bottom: 1px solid #cacaca;
}
.windowEmail input[name=_replyto] {
  padding-left: 10px;
}
.windowEmail textarea[name=message] {
  padding-left: 10px;
}

a.desktop_icon:hover {
  text-decoration: none;
}

.windowWelcome {
  position: absolute;
  left: 2%;
  top: 6%;
  height: 350px;
  width: 550px;
  background-color: whitesmoke;
  border-radius: 5px;
  z-index: 0;
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.2);
}
.windowWelcome span {
  font-family: monospace;
}
.windowWelcome span h4, .windowWelcome span h5 {
  margin: 10px;
}

.windowPortfolio {
  display: none;
  position: absolute;
  left: 5%;
  top: 21%;
  width: 850px;
  background-color: whitesmoke;
  border-radius: 5px;
  z-index: 0;
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.2);
}
.windowPortfolio .portfolioGrid {
  margin: 1% 1% 0 1%;
}
.windowPortfolio .portfolioGrid .item {
  position: relative;
  width: 33%;
  display: inline-block;
  border: 1px solid #cacaca;
  margin-bottom: 1%;
}
.windowPortfolio .portfolioGrid .item:hover {
  background: linear-gradient(180deg, #7db1e5, #97c1ea);
}
.windowPortfolio .portfolioGrid .item img {
  height: auto;
  width: 100%;
  display: inline-block;
}
.windowPortfolio .portfolioGrid .item p {
  width: 100%;
  text-align: center;
  font-weight: 300;
  color: rgba(1, 1, 1, 0.6);
  margin: 6px 0 0 0;
}

.windowGallery {
  height: 600px;
  width: 750px;
  position: absolute;
  border-radius: 5px;
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.2);
  left: 50%;
  top: 10%;
  background-color: whitesmoke;
  display: none;
}
.windowGallery .galleryWrapper .galleryItem {
  display: inline-block;
}
.windowGallery .galleryWrapper .galleryItem .galleryImage img {
  width: 90%;
  margin: 5%;
}
.windowGallery .galleryWrapper .galleryItem .galleryText p {
  width: 90%;
  margin: 0 5%;
}
.windowGallery .galleryWrapper #forest {
  display: none;
}
.windowGallery .galleryWrapper #cate {
  display: none;
}

.loaderWrapper {
  position: fixed;
  height: 100vh;
  left: 0;
  right: 0;
  background: #33333e;
  z-index: 9999;
}
.loaderWrapper #loading {
  position: relative;
  font-family: monospace;
  color: white;
  margin: 200px;
  font-size: 16px;
}
.loaderWrapper #loading .loadText {
  display: inline;
}

@media screen and (max-width: 414px) and (max-height: 736px) {
  #dock {
    position: fixed;
    display: inline-block;
    bottom: -5px;
    left: 0;
    right: 0;
    transform: none;
    height: 10%;
    max-width: 100%;
    background-color: rgba(151, 151, 151, 0.7);
    border-radius: 0px;
    z-index: 9999;
  }
  #dock #sort {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translate(-50%);
  }
  #dock #sort img {
    height: 50px;
    width: 50px;
    margin: 7px;
    float: left;
    cursor: pointer;
  }

  .desktop_icon {
    cursor: pointer;
  }
  .desktop_icon .icon {
    padding: 0 20px;
    margin: 5px;
  }
  .desktop_icon .icon:hover {
    background-color: rgba(245, 245, 245, 0.8);
    border-radius: 5px;
  }
  .desktop_icon img {
    height: auto;
    width: 50px;
  }
  .desktop_icon p {
    width: 50px;
    font-size: 12px;
    text-align: center;
    font-weight: 100;
    color: whitesmoke;
    text-shadow: 0px 2px 8px #111111;
  }

  #iconOverview {
    position: absolute;
    right: 10px;
    top: 140px;
  }

  #iconAbout {
    position: absolute;
    right: 10px;
    top: 230px;
  }

  #iconPortfolio {
    position: absolute;
    right: 10px;
    top: 320px;
  }

  #iconWelcome {
    position: absolute;
    right: 10px;
    top: 50px;
  }

  .window {
    width: 100%;
    height: 88vh;
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    border-radius: 0px;
  }
  .window .windowBar {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
  .window .glyphicon-remove-sign {
    color: #ff6d61;
    margin: 10px 2px 0 10px;
  }
  .window .glyphicon-minus-sign {
    color: #ffc661;
    margin: 10px 2px 0 10px;
  }
  .window .about {
    text-align: left;
    width: 90%;
    float: right;
  }

  .windowPortfolio {
    display: none;
    position: absolute;
    left: 0;
    top: 20px;
    width: 100%;
    background-color: whitesmoke;
    border-radius: 0px;
    z-index: 0;
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.2);
  }
  .windowPortfolio .portfolioGrid {
    margin: 1% 1% 0 1%;
  }
  .windowPortfolio .portfolioGrid .item {
    position: relative;
    width: 49.5%;
    display: inline-block;
    border: 1px solid #cacaca;
    margin-bottom: 1%;
  }
  .windowPortfolio .portfolioGrid .item:hover {
    background: linear-gradient(180deg, #7db1e5, #97c1ea);
  }
  .windowPortfolio .portfolioGrid .item img {
    height: auto;
    width: 100%;
    display: inline-block;
  }
  .windowPortfolio .portfolioGrid .item p {
    width: 100%;
    text-align: center;
    font-weight: 300;
    color: rgba(1, 1, 1, 0.6);
    margin: 6px 0 0 0;
  }

  .windowWelcome {
    width: 70%;
    position: absolute;
    height: auto;
    top: 50px;
    left: 15px;
  }

  .wrapper #topNav {
    width: 100%;
    height: 20px;
    background-color: rgba(245, 245, 245, 0.8);
    position: fixed;
    top: 0;
    box-shadow: none;
    z-index: 0;
  }
  .wrapper #topNav ul.left li {
    position: relative;
  }
  .wrapper #topNav ul {
    list-style-type: none;
    padding: 0;
  }
  .wrapper #topNav ul.left {
    display: none;
  }
  .wrapper #topNav ul.right {
    display: block;
    float: left;
  }
  .wrapper #topNav ul.right li {
    display: inline-block;
    margin: 0;
    padding: 1px 5px;
    font-size: 12px;
    font-weight: 500;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1200px) {
  #dock {
    position: fixed;
    display: inline-block;
    bottom: -5px;
    left: 0;
    right: 0;
    transform: none;
    height: 65px;
    max-width: 100%;
    background-color: rgba(151, 151, 151, 0.7);
    border-radius: 0px;
    z-index: 9999;
  }
  #dock #sort {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translate(-50%);
  }
  #dock #sort img {
    height: 50px;
    width: 50px;
    margin: 5px 20px;
    float: left;
    cursor: pointer;
  }

  .desktop_icon {
    cursor: pointer;
  }
  .desktop_icon .icon {
    padding: 0 25px;
    margin: 5px;
  }
  .desktop_icon .icon:hover {
    background-color: rgba(245, 245, 245, 0.8);
    border-radius: 5px;
  }
  .desktop_icon img {
    height: auto;
    width: 60px;
  }
  .desktop_icon p {
    width: 60px;
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    color: whitesmoke;
    text-shadow: 0px 2px 8px #111111;
  }

  #iconOverview {
    position: absolute;
    right: 10px;
    top: 140px;
  }

  #iconAbout {
    position: absolute;
    right: 10px;
    top: 230px;
  }

  #iconPortfolio {
    position: absolute;
    right: 10px;
    top: 320px;
  }

  #iconWelcome {
    position: absolute;
    right: 10px;
    top: 50px;
  }

  .window .windowBar {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
  .window .glyphicon-remove-sign {
    color: #ff6d61;
    margin: 10px 2px 0 10px;
  }
  .window .glyphicon-minus-sign {
    color: #ffc661;
    margin: 10px 2px 0 10px;
  }
  .window .about {
    text-align: left;
    width: 90%;
    float: right;
  }

  .windowPortfolio {
    display: none;
    position: absolute;
    width: 60%;
    background-color: whitesmoke;
    border-radius: 0px;
    z-index: 0;
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.2);
  }
  .windowPortfolio .portfolioGrid {
    margin: 1% 1% 0 1%;
  }
  .windowPortfolio .portfolioGrid .item {
    position: relative;
    width: 32.8%;
    display: inline-block;
    border: 1px solid #cacaca;
    margin-bottom: 1%;
  }
  .windowPortfolio .portfolioGrid .item:hover {
    background: linear-gradient(180deg, #7db1e5, #97c1ea);
  }
  .windowPortfolio .portfolioGrid .item img {
    height: auto;
    width: 100%;
    display: inline-block;
  }
  .windowPortfolio .portfolioGrid .item p {
    width: 100%;
    text-align: center;
    font-weight: 300;
    color: rgba(1, 1, 1, 0.6);
    margin: 6px 0 0 0;
  }

  .windowWelcome {
    position: absolute;
    top: 50px;
    left: 15px;
  }

  .windowGallery {
    width: 60%;
    position: absolute;
    border-radius: 5px;
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.2);
    left: 20%;
    top: 4%;
    background-color: whitesmoke;
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  #dock {
    position: fixed;
    display: inline-block;
    bottom: -5px;
    left: 0;
    right: 0;
    transform: none;
    height: 65px;
    max-width: 100%;
    background-color: rgba(151, 151, 151, 0.7);
    border-radius: 0px;
    z-index: 9999;
  }
  #dock #sort {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translate(-50%);
  }
  #dock #sort img {
    height: 50px;
    width: 50px;
    margin: 5px 20px;
    float: left;
    cursor: pointer;
  }

  .desktop_icon {
    cursor: pointer;
  }
  .desktop_icon .icon {
    padding: 0 25px;
    margin: 5px;
  }
  .desktop_icon .icon:hover {
    background-color: rgba(245, 245, 245, 0.8);
    border-radius: 5px;
  }
  .desktop_icon img {
    height: auto;
    width: 60px;
  }
  .desktop_icon p {
    width: 60px;
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    color: whitesmoke;
    text-shadow: 0px 2px 8px #111111;
  }

  #iconOverview {
    position: absolute;
    right: 10px;
    top: 140px;
  }

  #iconAbout {
    position: absolute;
    right: 10px;
    top: 230px;
  }

  #iconPortfolio {
    position: absolute;
    right: 10px;
    top: 320px;
  }

  #iconWelcome {
    position: absolute;
    right: 10px;
    top: 50px;
  }

  .window .windowBar {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
  .window .glyphicon-remove-sign {
    color: #ff6d61;
    margin: 10px 2px 0 10px;
  }
  .window .glyphicon-minus-sign {
    color: #ffc661;
    margin: 10px 2px 0 10px;
  }
  .window .about {
    text-align: left;
    width: 90%;
    float: right;
  }

  .windowPortfolio {
    display: none;
    position: absolute;
    width: 75%;
    background-color: whitesmoke;
    border-radius: 0px;
    z-index: 0;
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.2);
  }
  .windowPortfolio .portfolioGrid {
    margin: 1% 1% 0 1%;
  }
  .windowPortfolio .portfolioGrid .item {
    position: relative;
    width: 32.33%;
    display: inline-block;
    border: 1px solid #cacaca;
    margin-bottom: 1%;
  }
  .windowPortfolio .portfolioGrid .item:hover {
    background: linear-gradient(180deg, #7db1e5, #97c1ea);
  }
  .windowPortfolio .portfolioGrid .item img {
    height: auto;
    width: 100%;
    display: inline-block;
  }
  .windowPortfolio .portfolioGrid .item p {
    width: 100%;
    text-align: center;
    font-weight: 300;
    color: rgba(1, 1, 1, 0.6);
    margin: 6px 0 0 0;
  }

  .windowWelcome {
    position: absolute;
    top: 50px;
    left: 15px;
  }

  .windowGallery {
    width: 60%;
    position: absolute;
    border-radius: 5px;
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.2);
    left: 20%;
    top: 10%;
    background-color: whitesmoke;
    display: none;
  }
}
@media screen and (min-width: 600px) and (max-width: 767px) {
  #dock {
    position: fixed;
    display: inline-block;
    bottom: -5px;
    left: 0;
    right: 0;
    transform: none;
    height: 55px;
    max-width: 100%;
    background-color: rgba(151, 151, 151, 0.7);
    border-radius: 0px;
    z-index: 9999;
  }
  #dock #sort {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translate(-50%);
  }
  #dock #sort img {
    height: 40px;
    width: 40px;
    margin: 5px 20px;
    float: left;
    cursor: pointer;
  }

  .desktop_icon {
    cursor: pointer;
  }
  .desktop_icon .icon {
    padding: 15px 20px;
    margin: 10px 0 0 0;
  }
  .desktop_icon .icon:hover {
    background-color: rgba(245, 245, 245, 0.8);
    border-radius: 5px;
  }
  .desktop_icon img {
    height: auto;
    width: 40px;
  }
  .desktop_icon p {
    width: 40px;
    font-size: 10px;
    text-align: center;
    font-weight: 500;
    color: whitesmoke;
    text-shadow: 0px 2px 8px #111111;
  }

  #iconOverview {
    position: absolute;
    right: 10px;
    top: 60px;
  }

  #iconAbout {
    position: absolute;
    right: 10px;
    top: 120px;
  }

  #iconPortfolio {
    position: absolute;
    right: 10px;
    top: 180px;
  }

  #iconWelcome {
    position: absolute;
    right: 10px;
    top: 5px;
  }

  .window {
    width: 80%;
    font-size: 12px;
  }
  .window h4, .window h5 {
    font-size: 12px;
  }
  .window .windowBar {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
  .window .glyphicon-remove-sign {
    color: #ff6d61;
    margin: 10px 2px 0 10px;
  }
  .window .glyphicon-minus-sign {
    color: #ffc661;
    margin: 10px 2px 0 10px;
  }
  .window .about {
    text-align: left;
    width: 90%;
    float: right;
  }

  .windowPortfolio {
    display: none;
    position: absolute;
    top: 20px;
    left: 0px;
    width: 100%;
    height: 84vh;
    background-color: whitesmoke;
    border-radius: 0px;
    z-index: 0;
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.2);
  }
  .windowPortfolio .portfolioGrid {
    margin: 1% 1% 0 1%;
  }
  .windowPortfolio .portfolioGrid .item {
    position: relative;
    width: 24.25%;
    display: inline-block;
    border: 1px solid #cacaca;
    margin-bottom: 1%;
  }
  .windowPortfolio .portfolioGrid .item:hover {
    background: linear-gradient(180deg, #7db1e5, #97c1ea);
  }
  .windowPortfolio .portfolioGrid .item img {
    height: auto;
    width: 100%;
    display: inline-block;
  }
  .windowPortfolio .portfolioGrid .item p {
    width: 100%;
    text-align: center;
    font-weight: 300;
    color: rgba(1, 1, 1, 0.6);
    margin: 6px 0 0 0;
  }

  .windowWelcome {
    height: 70vh;
    position: absolute;
    top: 30px;
    left: 15px;
  }

  .windowGallery {
    height: 84vh;
    width: 100%;
    position: absolute;
    border-radius: 5px;
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.2);
    left: 0;
    top: 20px;
    background-color: whitesmoke;
    display: none;
  }
  .windowGallery .galleryWrapper .galleryItem {
    display: inline-block;
  }
  .windowGallery .galleryWrapper .galleryItem .galleryImage {
    float: left;
    display: inline-block;
    width: 40%;
    margin: 5%;
  }
  .windowGallery .galleryWrapper .galleryItem .galleryImage img {
    width: 100%;
    margin: 0;
  }
  .windowGallery .galleryWrapper .galleryItem .galleryText {
    float: right;
    display: inline-block;
    width: 40%;
    margin: 5%;
  }
  .windowGallery .galleryWrapper .galleryItem .galleryText p {
    width: 100%;
    margin: 0;
  }

  .wrapper #topNav {
    width: 100%;
    height: 20px;
    background-color: rgba(245, 245, 245, 0.8);
    position: fixed;
    top: 0;
    box-shadow: none;
    z-index: 0;
  }
  .wrapper #topNav ul.left li {
    position: relative;
    font-size: 12px;
  }
  .wrapper #topNav ul {
    list-style-type: none;
    padding: 0;
  }
  .wrapper #topNav ul.right {
    display: block;
    float: right;
  }
  .wrapper #topNav ul.right li {
    display: inline-block;
    margin: 0;
    padding: 1px 5px;
    font-size: 12px;
    font-weight: 500;
  }
}
@media screen and (min-width: 400px) and (max-width: 599px) {
  #dock {
    position: fixed;
    display: inline-block;
    bottom: -5px;
    left: 0;
    right: 0;
    transform: none;
    height: 50px;
    max-width: 100%;
    background-color: rgba(151, 151, 151, 0.7);
    border-radius: 0px;
    z-index: 9999;
  }
  #dock #sort {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translate(-50%);
  }
  #dock #sort img {
    height: 40px;
    width: 40px;
    margin: 2px 10px;
    float: left;
    cursor: pointer;
  }

  .desktop_icon {
    cursor: pointer;
  }
  .desktop_icon .icon {
    padding: 0 20px;
    margin: 5px;
  }
  .desktop_icon .icon:hover {
    background-color: rgba(245, 245, 245, 0.8);
    border-radius: 5px;
  }
  .desktop_icon img {
    height: auto;
    width: 40px;
  }
  .desktop_icon p {
    width: 40px;
    font-size: 12px;
    text-align: center;
    font-weight: 100;
    color: whitesmoke;
    text-shadow: 0px 2px 8px #111111;
  }

  #iconOverview {
    position: absolute;
    right: 10px;
    top: 90px;
  }

  #iconAbout {
    position: absolute;
    right: 10px;
    top: 150px;
  }

  #iconPortfolio {
    position: absolute;
    right: 10px;
    top: 210px;
  }

  #iconWelcome {
    position: absolute;
    right: 10px;
    top: 30px;
  }

  .window {
    width: 100%;
    height: 88vh;
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    border-radius: 0px;
  }
  .window .windowBar {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
  .window .glyphicon-remove-sign {
    color: #ff6d61;
    margin: 10px 2px 0 10px;
  }
  .window .glyphicon-minus-sign {
    color: #ffc661;
    margin: 10px 2px 0 10px;
  }
  .window .about {
    text-align: left;
    width: 90%;
    float: right;
  }

  .windowPortfolio {
    display: none;
    position: absolute;
    left: 0;
    top: 20px;
    width: 100%;
    background-color: whitesmoke;
    border-radius: 0px;
    z-index: 0;
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.2);
  }
  .windowPortfolio .portfolioGrid {
    margin: 1% 1% 0 1%;
  }
  .windowPortfolio .portfolioGrid .item {
    position: relative;
    width: 32.33%;
    display: inline-block;
    border: 1px solid #cacaca;
    margin-bottom: 1%;
  }
  .windowPortfolio .portfolioGrid .item:hover {
    background: linear-gradient(180deg, #7db1e5, #97c1ea);
  }
  .windowPortfolio .portfolioGrid .item img {
    height: auto;
    width: 100%;
    display: inline-block;
  }
  .windowPortfolio .portfolioGrid .item p {
    width: 100%;
    font-size: 10px;
    text-align: center;
    font-weight: 300;
    color: rgba(1, 1, 1, 0.6);
    margin: 2px 0 0 0;
  }

  .windowWelcome {
    width: 80%;
    position: absolute;
    height: auto;
    top: 20px;
    left: 0px;
  }
  .windowWelcome h4, .windowWelcome h5 {
    font-size: 12px;
  }

  .wrapper #topNav {
    width: 100%;
    height: 20px;
    background-color: rgba(245, 245, 245, 0.8);
    position: fixed;
    top: 0;
    box-shadow: none;
    z-index: 0;
  }
  .wrapper #topNav ul.left li {
    position: relative;
  }
  .wrapper #topNav ul {
    list-style-type: none;
    padding: 0;
  }
  .wrapper #topNav ul.left {
    display: none;
  }
  .wrapper #topNav ul.right {
    display: block;
    float: left;
  }
  .wrapper #topNav ul.right li {
    display: inline-block;
    margin: 0;
    padding: 1px 5px;
    font-size: 12px;
    font-weight: 500;
  }
}
@media screen and (max-width: 399px) {
  #dock {
    position: fixed;
    display: inline-block;
    bottom: -5px;
    left: 0;
    right: 0;
    transform: none;
    height: 9%;
    max-width: 100%;
    background-color: rgba(151, 151, 151, 0.7);
    border-radius: 0px;
    z-index: 9999;
  }
  #dock #sort {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translate(-50%);
  }
  #dock #sort img {
    height: 30px;
    width: 30px;
    margin: 5px 10px;
    float: left;
    cursor: pointer;
  }

  .desktop_icon {
    cursor: pointer;
  }
  .desktop_icon .icon {
    padding: 0 20px;
    margin: 0px;
  }
  .desktop_icon .icon:hover {
    background-color: rgba(245, 245, 245, 0.8);
    border-radius: 5px;
  }
  .desktop_icon img {
    height: auto;
    width: 50px;
  }
  .desktop_icon p {
    width: 50px;
    font-size: 12px;
    text-align: center;
    font-weight: 100;
    color: whitesmoke;
    text-shadow: 0px 2px 8px #111111;
  }

  #iconOverview {
    position: absolute;
    right: 5px;
    top: 140px;
  }

  #iconAbout {
    position: absolute;
    right: 5px;
    top: 230px;
  }

  #iconPortfolio {
    position: absolute;
    right: 5px;
    top: 320px;
  }

  #iconWelcome {
    position: absolute;
    right: 5px;
    top: 50px;
  }

  .window {
    width: 100%;
    height: 88vh;
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    border-radius: 0px;
  }
  .window .windowBar {
    height: 30px;
    background: #d8dde2;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .window .windowBar ul.button {
    display: inline-block;
  }
  .window .windowBar ul.tab {
    display: inline-block;
    cursor: default;
  }
  .window .windowBar ul.tab li {
    padding: 3px 12px;
    font-weight: 900;
    color: rgba(1, 1, 1, 0.6);
    letter-spacing: 0px;
  }
  .window .glyphicon {
    cursor: auto;
  }
  .window .glyphicon-remove-sign {
    color: #ff6d61;
    margin: 5px 2px 0 5px;
  }
  .window .glyphicon-minus-sign {
    color: #ffc661;
    margin: 5px 2px 0 5px;
  }
  .window .about {
    text-align: left;
    width: 90%;
    float: right;
  }

  .windowPortfolio {
    display: none;
    position: absolute;
    left: 0;
    top: 20px;
    width: 100%;
    background-color: whitesmoke;
    border-radius: 0px;
    z-index: 0;
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.2);
  }
  .windowPortfolio .portfolioGrid {
    margin: 1% 1% 0 1%;
  }
  .windowPortfolio .portfolioGrid .item {
    position: relative;
    width: 32.33%;
    display: inline-block;
    border: 1px solid #cacaca;
    margin-bottom: 1%;
  }
  .windowPortfolio .portfolioGrid .item:hover {
    background: linear-gradient(180deg, #7db1e5, #97c1ea);
  }
  .windowPortfolio .portfolioGrid .item img {
    height: auto;
    width: 100%;
    display: inline-block;
  }
  .windowPortfolio .portfolioGrid .item p {
    width: 100%;
    font-size: 10px;
    text-align: center;
    font-weight: 300;
    color: rgba(1, 1, 1, 0.6);
    margin: 2px 0 0 0;
  }

  .windowWelcome {
    width: 75%;
    position: absolute;
    height: auto;
    top: 20px;
    left: 0px;
    font-size: 12px;
  }

  .wrapper #topNav {
    width: 100%;
    height: 20px;
    background-color: rgba(245, 245, 245, 0.8);
    position: fixed;
    top: 0;
    box-shadow: none;
    z-index: 0;
  }
  .wrapper #topNav ul.left li {
    position: relative;
  }
  .wrapper #topNav ul {
    list-style-type: none;
    padding: 0;
  }
  .wrapper #topNav ul.left {
    display: none;
  }
  .wrapper #topNav ul.right {
    display: block;
    float: left;
  }
  .wrapper #topNav ul.right li {
    display: inline-block;
    margin: 0;
    padding: 1px 5px;
    font-size: 12px;
    font-weight: 500;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1510px) {
  .windowGallery {
    width: 45%;
    position: absolute;
    border-radius: 5px;
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.2);
    left: 40%;
    top: 10%;
    background-color: whitesmoke;
    display: none;
  }
}
